[phases.setup]
nixPkgs = ["python311"]

[phases.install]
cmds = [
    "python3 -m venv /opt/venv",
    "source /opt/venv/bin/activate",
    "pip install --upgrade pip",
    "pip install -r requirements.txt"
]

[phases.build]
cmds = []

[start]
cmd = "/opt/venv/bin/uvicorn api.main:app --host 0.0.0.0 --port $PORT"

